@import './color.scss';

#app {
  background-color: $main-background-color;
  color: #ffffff;
  height: 100vh;
}

.clear-link {
  text-decoration: none;
  color: inherit;
}

// region Main
.main {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  .menu {
    border: 5px solid $menu-border-color;
    border-radius: 10px;

    background-color: $menu-background-color;

    padding: 5px;

    .item {
      font-size: 25px;

      border-bottom: 1px solid gray;

      transition: all 0.3s;

      cursor: pointer;

      &:hover {
        background-color: lighten($menu-background-color, 5%);
      }

      &:last-child {
        border: none;
      }
    }
  }
}

// endregion

// region Game
.game {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .game-wrapper {
    width: 1290px;
    height: 964px;

    .game-field {
      border: 1px solid $menu-border-color;
    }

    .minimap {
      border: 1px solid $menu-border-color;
    }

    .game-panel {
      border: 1px solid $menu-border-color;
      border-left: none;
    }
  }
}

// endregion

// region ModelEditor
.model-editor {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  .model-editor-wrapper {
    .model-editor-canvas {
      border: 1px solid $menu-border-color;
    }
  }
}

// endregion